.btn {
    border-radius: 0.25rem;
    padding: .25rem .65rem;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn:focus {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    // .btn{
    //     @apply focus:outline-none px-5 py-2 font-medium rounded text-sm text-white focus:shadow-none focus:ring-1
    // }
    .btn-primary{
        @apply bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }
    .btn-light{
        @apply text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-gray-200 dark:text-white dark:bg-gray-800 dark:dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
    }
    .btn-dark{
        @apply bg-gray-800 hover:bg-gray-900 focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700
    }
    .btn-danger{
        @apply bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:focus:ring-red-900
    }
    .btn-success{
        @apply bg-green-700 hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
    }

    select.btn{
        @apply focus:ring-0 py-0
    }
    .card{
        @apply border border-gray-300 rounded shadow-sm dark:border-gray-700
    }
    .card-header{
        @apply py-1 px-3 font-bold tracking-tight bg-neutral-200 dark:bg-neutral-700
    }
    .card-body{
        @apply py-2 px-3
    }

    .col-form-label{
        @apply block mb-2 text-sm font-medium
    }
    .form-control{
        @apply block p-2 w-full text-gray-900 bg-neutral-50 rounded border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-neutral-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
    .form-text{
        @apply text-gray-600 text-sm dark:text-gray-400 italic
    }

    .alert{
        @apply px-4 py-2 mb-2 font-bold rounded-lg
    }
    .alert-danger{
        @apply text-red-900 bg-red-100 dark:bg-red-200
    }
    .alert-success{
        @apply text-green-900 bg-green-100 dark:bg-green-200
    }
    .alert-info{
        @apply text-blue-900 bg-blue-100 dark:bg-blue-200
    }

    .arg-table{
        .td, .th{
            @apply border border-neutral-200 dark:border-neutral-800 items-center flex;
            padding: 0.5px;
        }

        .th{
            @apply bg-slate-200 dark:bg-slate-700 font-bold;
            padding: 0.5px 6px;
        }
    
        input{
            @apply outline-none w-full bg-transparent focus:ring-2 focus:rounded-sm focus:bg-neutral-100 dark:focus:ring-neutral-400 dark:focus:bg-neutral-600;
            padding: 0.5px 5px;
        }
        .tr.focused > .td{
            @apply bg-neutral-200 dark:bg-neutral-700 dark:border-neutral-800 dark:focus:text-white
        }
        .tr.focused input{
            @apply dark:text-white
        }
        input:required:invalid:not(:focus){
            @apply bg-red-600 bg-opacity-10
        }
        .td-actions{
            justify-content: center;
            width: 40px;
        }
    }
}


body, 
body > #app{
    height: 100vh;
}

.pointer{
    cursor: pointer;
}

.noselect {
	  -webkit-user-select: none;
			  user-select: none;	
}

span.ic:before {
    vertical-align: text-bottom;
}
// this are defined in index.html
// .ic-delete:before {
//     -webkit-mask-image: url("delete.svg");
//     mask-image: url("delete.svg");
// }
// .ic-search:before {
//     -webkit-mask-image: url("search.svg");
//     mask-image: url("search.svg");
// }
.ic-space-1:before {
    margin-right: 0.1rem;
}

.ic:before {
    --ic-height: 1.2rem;
    vertical-align: sub;
    content: '';
    height: var(--ic-height);
    width: var(--ic-height);
    display: inline-block;
    background-size: cover;
}
.ic-sm:before {
    --ic-height: 1rem;
    background-size: var(--ic-height) var(--ic-height);
    height: var(--ic-height);
    width: var(--ic-height);
}