
*, *:before, *:after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

:root {
	--container-padding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
	box-sizing: border-box;
	font-size: 13px;
}

body {
	padding: 0 var(--container-padding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

ol,
ul {
	padding-left: var(--container-padding);
}

body > *,
form > * {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}


th{
	text-align: left;
}

/* bootsrap table */
.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	padding: 0.5px;
	border: 1px solid #f5f5f5;
}
.table > thead > tr > th {
	border-bottom: 2px solid #ddd;
	font-weight: bold;
}
.table > tbody > tr:nth-child(odd) > td {
	background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td {
	background-color: #f5f5f5;
}

.table th,
.table td > * {
    padding: 8px !important;
}

.table td > * {
    border: none;
    background: none;
    width: 100%;
}

.table tr > td:first-child {
	font-weight: bold;
}

input:required:invalid:not(:focus){ 
	background-color: #ff675c2b; 
}
input:focus{
	background-color: #99d3ff1f;
    outline-color: #248599 !important;
}

tr.focused > td{
	background-color: #95ccf71f !important;
}
.td-actions{
	vertical-align: middle;
}
.td-actions > div{
	padding: 2px 5px !important;
}
.td-actions > div > button{
	padding: 0;
    width: 2.5rem;
    background: red;
}
.noselect {
	  -webkit-user-select: none;
			  user-select: none;	
}


#ctxMenu{
    display:none;
    z-index:100;
    position:absolute;
    left:0px;
    top:0px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
#ctxMenu li{
	list-style:none;
	margin:0;
	padding:5px 10px;
	display:block;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
#ctxMenu li:hover{
	background-color:#eee;
}